{% extends "main.html" %}
	{% block content %}
	<h1>Hello. </h1>
	<h2>Please, upload a PDB file including your protein, and note the chain and model you'd like to bind in case it has more than one each.</h2>
	<h2>Also, upload the PDB file corresponding to the binding point of the peptide you'd like to bind. Also note the chain an model, in case it has more than one each.</h2>
	<h2>Finally, describe the peptide sequence in FASTA format</h2>
	<form method="POST" enctype="multipart/form-data">
		<p>	
			Protein's PDB file: <input type="file" id="protein_pdb" name="protein_pdb" accept="chemical/x-pdb,chemical/x-ent" required><br>
			Protein's Model: <input type="number" id="protein_model" name="protein_model" min="0" required><br>
			Protein's Chain: <input type="text" id="protein_chain" name="protein_chain" minlength="1" maxlength="1" required><br>
			Peptide's PDB file: <input type="file" id="peptide_pdb" name="peptide_pdb" accept="chemical/x-pdb,chemical/x-ent" required><br>
			Peptide's Model: <input type="number" id="peptide_model" name="peptide_model" min="0" required><br>
			Peptide's Chain: <input type="text" id="peptide_chain" name="peptide_chain" minlength="1" maxlength="1" required></br>
			FASTA sequence: <input type="text" id="fasta_sequence" name="fasta_sequence" minlength="1" maxlength="20" required></br>
			<input type="submit" id="submit" name="Upload">
		</p>
	</form>
	{% endblock %}